@tailwind base;
@tailwind components;
@tailwind utilities;

/* スクロールバー非表示ユーティリティ */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}