.movie-page {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.MovieDetail-gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0,0,0,0.6) 60%, rgba(0,0,0,0.85)90%);
  z-index: 0;
}

.hero-content {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  color: white;
  z-index: 1;
}

.hero-content::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.video-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-right: 2rem;
}

.hero-metadata {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}


.MovieDetail-overlay-contents .Movie-title {
  font-size: 70px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.MovieDetail-overlay-contents .MovieDetail-overlay {
  font-size: 12px;
}

.MovieDetail-overlay-contents .MovieDetail-overview {
  font-size: 14px;
  font-weight: bold;
  max-width: 700px;
}

.moviecard-section {
  width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
  margin-top: 1rem;
}

.moviecard-list {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem 2vw;
  scrollbar-width: none;
}

.moviecard-title {
  position: relative;
  z-index: 1;
  color: #fff;
  margin: 3rem 4.2rem 1rem;
}


